.body {
    background: #ff4931;
    transition: all 0.5s;
    padding: 1px;
}

.veen {
    width: 99%;
    margin: 100px auto;
    background: rgba(255, 255, 255, .5);
    min-height: 400px;
    display: table;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.veen button {
    background: transparent;
    /* background-image: linear-gradient(90deg, #e0b722, #ff4931); */
    display: inline-block;
    padding: 10px 30px;
    border: 3px solid #fff;
    border-radius: 50px;
    background-clip: padding-box;
    position: relative;
    color: #FFF;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28); */
    transition: all .25s;
}

.veen button.dark {
    border-color: #ff4931;
    background: #ff4931;
}

.veen .move button.dark {
    border-color: #e0b722;
    background: #e0b722;
}

.veen .splits p {
    font-size: 18px;
}

.veen button:active {
    box-shadow: none;
}

.veen button:focus {
    outline: none;
}

.veen>div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    width: 33%;
}

.veen>.wrapper1 {
    position: absolute;
    width: 30%;
    height: 135%;
    top: -10%;
    left: 0%;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    transition: all .5s;
    color: #303030;
    overflow: hidden;
}

.veen .wrapper1>form {
    padding: 80px 28px 15px;
    width: 20%;
    transition: all 0.5s;
    background: #fff;
    height: 20%;
}

.veen .wrapper1>form:focus {
    outline: none;
}

.veen .wrapper1>form>div {
    position: relative;
    margin-bottom: 15px;
}


/* here */

.veen .wrapper1 label {
    position: absolute;
    top: -7px;
    font-size: 12px;
    white-space: nowrap;
    background: #fff;
    text-align: left;
    left: 15px;
    padding: 0 5px;
    color: #999;
    pointer-events: none;
}

.veen .wrapper1 h3 {
    margin-bottom: 25px;
}

.veen .wrapper1 input {
    height: 40px;
    padding: 5px 15px;
    width: 60%;
    border: solid 1px #999;
}

.veen .wrapper1 input {
    height: 40px;
    padding: 5px 15px;
    width: 70%;
    border: solid 1px #999;
}

.veen .wrapper1 input:focus {
    outline: none;
    border-color: #ff4931;
}

.veen .wrapper1 #login {
    visibility: visible;
    width: 100%;
}

.veen .wrapper1 #trans {
    width: 100%;
    visibility: visible;
    /* transform: translateY(-100%) translateX(150%); */
}

.veen .wrapper1 #register {
    width: 100%;
    visibility: visible;
    /* transform: translateY(-200%) translateX(300%); */
}